body{
font-size: 16px;/*1em*/
margin: 0 auto;
max-width: 1078px;/*decision de la empresa*/
min-width: 1078px;



}

header input{
	float: right;
	margin-right: -200px;
	margin-top: 15px;
	position: relative;
}

header nav{
margin-left: 220px;
}

header nav ul li{
	border-bottom: 1px solid gray;
color:gray;
display: inline-block;
font-size: 1.8em;
margin-right: 15px
/*text-decoration: underline;*/



}

#bgoffer{
	left: -35px;
	position: relative;
	/*podemos usar los atributos left ,right,top*/
top: -410px;
}


#granthams {/*logo de la empresa*/
	margin-top: 20px;
	margin-left: 25px;

}
#paint{

	float: right;
	margin-top: 20px;
}
#primerseccion article{
	margin-top: 170px;
}
#primerseccion article{
	height: 317.99px;

	display: inline-block;
	margin-left: 25px;
	vertical-align: top;
	
}
#secc01art01{
	width: 60%;
}
#secc02art02{
width: 25%;
}
#segundaseccion {
	text-align: right;
	padding-right: 130px;

}
#terceraseccion article{

	display: inline-block;
	width: 22%;
	vertical-align: top;
}
.numerodetelefono{
color:#ff0099;
font-size: 2em;
font-weight: bold;


}
.Wecanoffer {

	color: #ff0099;
	font-size: 3.5em;
	font-weight: bold;
}
